
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: "Roboto Mono", monospace;
    color: rgba(0, 0, 0, 0.811);
    /* background: radial-gradient(ellipse farthest-side at top center, #0b1582d5 0%, #000000 10%); */
    background: radial-gradient(ellipse farthest-side at top center, #c1c5edd5 2%, #ffffff 5%);
    /* background-color: #FFFFFF; */
}

.navbar{
    height: 80px !important;
    position: fixed;
    top: 0;
    z-index: 99;
    padding: 10px 40px;
    backdrop-filter: blur( 12px );
    -webkit-backdrop-filter: blur( 12px );
}

.Main__Container{
    margin-top: 80px !important;
}

.Hero__Container{
    position: relative;
    overflow: hidden;
}

.Hero__Content__Container_Digital{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 10px 40px;
    overflow: hidden;
}
.Hero__Content__Container_Digital p{
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}
.Hero__Content__Container_Digital h1{
    font-size: 54px;
    font-weight: 900;
    letter-spacing: 2px;
    margin: 0;
}
.Hero__Content__Container_Digital h3{
    font-size: 20px;
    font-weight: 900;
    margin-top: 40px;
}

.Hero__Content__Container_Method{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    padding: 10px 40px;
    overflow: hidden;
}
.Hero__Content__Container_Method h1{
    font-size: 58px;
    font-weight: 900;
    letter-spacing: 2px;
    margin: 0;
}
.Hero__Content__Container_Method p{
    max-width: 500px;
    font-size: 16px;
    text-align: end;
}
.How__Diff__Txt{
    display: flex;
    justify-content: end;
    align-items: end;
    font-size: 20px;
    gap: 10px;
    font-weight: 800;
    transform: translate(240px, 70px);
}
.How__Diff__Txt > h2 {
    transform: translateY(7px);
    font-size: 20px;
}
.We__Diff__Txt_anim{
    position: relative;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
    width: 300px;
    animation: scaleText 3000ms linear infinite;
}
.We__Diff__Txt_anim h2{
    color: #fff;
    font-size: 34px;
    position: absolute;
    transform: translate(0, -100%);
}
.We__Diff__Txt_anim h2:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px #03a9f4;
    -moz-text-stroke: 2px #03a9f4;
}
.We__Diff__Txt_anim h2:nth-child(2) {
    color: #03a9f4;
    animation: animate 3s ease-in-out infinite;
}
@keyframes animate {
    0%,
    100% {
      clip-path: polygon(
        0% 45%,
        16% 44%,
        33% 50%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%
      );
    }
  
    50% {
      clip-path: polygon(
        0% 60%,
        15% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 46%,
        100% 100%,
        0% 100%
      );
    }
}

.Globe__Container{
    position: absolute;
    top: 10;
    right: 0;
    transform: translateX(100px);
}

.Explore__Btn{
    padding: 10px 20px;
    border-radius: 8px;
    text-align: center;
    font-weight: 800;
}

.Cards__Container{
    width: 550px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
.Cards__Container > div:nth-child(3){
    margin-left: 35px;
}
.Card{
    background: rgb(92, 92, 92);
    box-shadow: 0 8px 32px 0 rgba(47, 55, 164, 0.37);
    backdrop-filter: blur( 12px );
    -webkit-backdrop-filter: blur( 12px );
    border-radius: 10px;
    border: 2px solid skyblue;
    border-radius: 8px;
    padding: 8px 15px;
    font-size: 13px;
    font-weight: 600;
    color: white;
}
.Card:hover{
    background: rgba(70, 70, 70, 0.227);
    box-shadow: 0 8px 32px 0 rgba(47, 55, 164, 0.37);
    backdrop-filter: blur( 12px );
    -webkit-backdrop-filter: blur( 14px );
    border: 2px solid rgb(80, 199, 246);
}

.About__Us__Heading h2{
    font-size: 42px;
    font-weight: 800;
}
.About_Us_Img{
    width: 600px;
    height: 450px;
}


.SD__Container p {
    font-weight: 800;
}
.SD__Txt{
    position: relative;
    height: 300px;
    flex: 0 1 50%;
}
.SD__Txt > div {
    position: absolute;
    top: 80%;
    width: 100%;
    transform: translateY(-50%);
}
.SD__Heading h2{
    font-size: 42px;
    font-weight: 800;
}
.SD__Feat__Heading h2 {
    font-size: 18px;
    font-weight: 800;
}

.SD__Bene h2{
    font-size: 18px;
    font-weight: 900;
}
.SD__Bene p{
    font-size: 16px;
}
.p-one p{
    font-size: 18px;
    font-weight: 800;
}
.p-two > p{
    font-size: 20px;
    font-weight: 800;
}
.laptop img {
    position: absolute;
    width: 400px;
    height: 340px;
    /* object-fit: cover; */
    top: 60%;
    left: 70%;
    transform: translateY(-50%);
    border-radius: 8px;
}


.Methodology__Heading{
    font-size: 42px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 8px;
    position: absolute;
    top: 55px;
    left: 50%;
    transform: translate(-50%, 0);
}
/* .pin-spacer{
    height: calc(500vh + 700px) !important;
    padding: 0 !important;
    margin-top: 85px !important;
} */
.container {
    overscroll-behavior: none;
    min-width: calc(100vw - 8px);
    /* height: 100vh !important; */
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    margin: 0;
    /* background: lightblue; */
    max-width: calc(100% - 300px) !important;
    padding-top: 90px !important;
    position: relative;
}

.Process {
    min-width: 100vw !important;
    /* min-height: 100vh; */
}

.Process__Img{
    width: 650;
}

.Process__Txt__Container h3{
    font-size: 24px;
    font-weight: 800;
}

.Process__Txt__Container p{
    font-size: 14px;
    font-weight: 800;
}
.Img_Container p{
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-decoration: underline;
}

.Process__2__Heading{
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 10px;
}
.Process__2__Card__Container{
    display: flex;
    max-width: 1200px;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
}
.Process__2__Card{
    width: 300px;
    height: 280px;
    padding: 8px 12px;
    border-radius: 8px;
    --shadowColor: 187 60% 40%;
	/* display: flex;
	flex-wrap: wrap; */
	background: hsl(187 70% 85%);
	box-shadow: 0.55rem 0.55rem 0 hsl(var(--shadowColor) / 1);
	border-radius: 0.8rem;
	overflow: hidden;
	border: 0.5rem solid;
    color: black;
}
.circle{
    width: 5px;
    height: 5px;
    color: hsl(var(--shadowColor));
}
.Process__2__Card h2{
    font-size: 20px;
    font-weight: 800;
}
.Process__Card__Content{
    margin-top: 20px;
}
.Process__Card__Content ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.Process__Card__Content ul li{
    margin-top: 10px;
    font-weight: 500;
}

.Process__3__subHeading{
    font-size: 14px;
}
.Process__3__Img__Container h2{
    font-size: 20px;
}
.Process__3__Img{
    width: 600px;
    height: 400px;
}

.Achieve__Heading{
    font-size: 48px;
    font-weight: 800;
}
.Achieve__Img__Container img{
    width: 600px;
    border-radius: 8px;
}

@media screen and (min-width: 766px) and (max-width: 1000px) {
    .Hero__Content__Container_Digital{
        height: 100%;
        min-height: 700px;
        max-height: 700px !important;
    }
    .Hero__Content__Container_Method{
        height: 100%;
        min-height: 800px;
        max-height: 800px !important;
        transform: translateY(-80px);
    }
    .How__Diff__Txt{
        display: flex;
        flex-direction: column;
        transform: translate(100px, 120px);
    }
    .How__Diff__Txt > h2{
        transform: translate(-100px, -20px);
    }
    .Globe__Container{
        top: 20%;
        transform: translateX(120px);
    }
    .Hero__Content__Container_Method p {
        z-index: 9;
        font-size: 14px;
    }
    .About_Us_Img{
        width: 300px;
        height: 200px;
    }
    .About_us__Txt__Container{
        max-width: 420px;
    }
    .About_us__Txt__Container p{
        font-size: 14px !important;
    }
    .SD__Heading h2{
        font-size: 20px;
        font-weight: 800;
    }
    .SD__Feat__Heading h2 {
        font-size: 14px;
        font-weight: 800;
    }
    .SD__Feat__sub{
        font-size: 10px;
    }
    .SD__Bene h2{
        font-size: 14px;
        font-weight: 900;
    }
    .SD__Bene p{
        font-size: 12px !important;
    }
    .p-one p{
        font-size: 18px;
        font-weight: 800;
    }
    .p-two > p{
        font-size: 20px;
        font-weight: 800;
    }
    .SD__Container p {
        font-size: 15px;
        /* max-width: 500px; */
    }
    .SD__Txt{
        margin-top: -15px;
    }
    .laptop img {
        width: 300px;
        height: 240px;
        top: 50%;
        left: 55%;
       
    }
    .Process__Content__Container{
        flex-direction: column;
    }
    .Process__Img{
        width: 100%;
        height: 350px;
    }
    .Process__Txt__Container{
        font-size: 14px;
    }
    .Process__2__Card{
        height: 250px;
    }
    .Process__3__Img{
        width: 450px;
        height: 250px;
    }
    .Process__6__Txt{
        font-size: 14px;
    }
    .Achieve__Img__Container img{
        width: 400px;
    }
    /* .pin-spacer{
        height: 4360px !important;
    } */
    
}

@media only screen and  (max-width: 500px) {
    .Hero__Content__Container_Digital{
        min-height: 700px;
        max-height: 700px !important;
        padding: 10px 20px;
        z-index: 9;
    }
    .Hero__Content__Container_Digital p{
        font-size: 14px;
    }
    .Hero__Content__Container_Digital h1{
        font-size: 26px;
        z-index: 9;
    }
    .Hero__Content__Container_Digital h3{
        font-size: 16px;
    }
    .Hero__Content__Container_Method{
        min-height: 700px;
        max-height: 700px !important;
        padding: 10px 20px;
    }
    .Hero__Content__Container_Method h1{
        font-size: 30px;
    }
    .Hero__Content__Container_Method p{
        font-size: 10px;
        text-align: end;
    }
    .How__Diff__Txt{
        display: flex;
        flex-direction: column;
        transform: translate(0, 120px);
    }
    .How__Diff__Txt > h2{
        transform: translate(-120px, -20px);
    }
    .Globe__Container{
        transform: translateX(574px);
    }
    .Cards__Container{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 180px;
    }
    .Cards__Container > div:nth-child(3){
        margin: 0;
    }
    .Card{
        font-size: 10px;
        padding: 7px 10px;
        width: 150px;
    }
    .About_Us_Img{
        width: 200px;
        height: 180px;
    }
    .About_us__Txt__Container{
        font-size: 12px;
    }
    .SD__Heading h2{
        font-size: 20px;
        font-weight: 800;
    }
    .SD__Feat__Heading h2 {
        font-size: 14px;
        font-weight: 800;
    }
    .SD__Feat__sub{
        font-size: 10px;
    }
    .SD__Bene h2{
        font-size: 14px;
        font-weight: 900;
    }
    .SD__Bene p{
        font-size: 12px !important;
    }
    .p-one{
       width: 320px !important;
    }
    .p-two{
        width: 320px !important;
    }
    .p-one p{
        font-size: 18px;
        font-weight: 800;
    }
    .p-two > p{
        font-size: 20px;
        font-weight: 800;
    }
    .SD__Container p {
        font-size: 15px;
        /* max-width: 500px; */
    }
    .laptop img {
        width: 100px;
        height: 100px;
        top: 50%;
        left: 55%;
       display: none;
    }
    .Process__Img{
        width: 250px;
    }
    .Process__Content__Container{
        flex-direction: column;
    }
    .Process__2__Card__Container{
        transform: translateX(-15px);
    }
    .Process__Txt__Container h3{
        font-size: 14px;
    }
    .Process__Txt__Container p{
        font-size: 10px;
    }
    .Process__2__Heading{
        font-size: 18px;
    }
    .Process__2__Card{
        width: 160px;
        height: 185px;
    }
    .Process__2__Card h2{
        font-size: 12px;
        margin: 0;
    }
    .Process__2__Card ul li {
        font-size: 9px;
        margin-top: 6px;
    }
    .Process__Card__Content{
        margin: 0;
    }
    .Process__3__Heading{
        font-size: 10px;
    }
    .Process__3__Img{
        width: 280px;
        height: 150px;
    }
    .Process__3__subHeading{
        font-size: 10px;
    }
    .Process__3__Img__Container h2{
        font-size: 14px;
    }
    .Process__5__Heading{
        font-size: 14px;
    }
    .Process__5__Content{
        font-size: 10px;
    }
    .Process__5__List{
        font-size: 9px;
        margin: 0;
    }
    .Process__5__Img__Txt{
        font-size: 8px;
    }
    .Process__6__Txt{
        font-size: 8px;
    }
    .Process__7__Txt{
        font-size: 9px;
    }
    .Achieve__Img__Container img{
        width: 300px;
        border-radius: 8px;
    }
    .Acheive__Txt{
        font-size: 14px;
    }
    /* .pin-spacer{
        height: 4360px !important;
    } */
}


/* SCROLLBAR */
::-webkit-scrollbar {
    width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #000;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #57c5b6;
    border-radius: 50px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #97FFEd;
}






/* CSS */
.button-64 {
  display: flex;
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 10px 12px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  font-weight: 600;
  gap: 2px
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}
